/* XL Device :1200px. */

/* @media only screen and (min-width: 1601px){
    header {
        height: 1000px;
    }
}

@media only screen and (min-width: 1443px) and (max-width: 1600px){
    header {
        height: 780px;
    }
}

@media only screen and (min-width: 1443px){
    header {
        height: 780px;
    }
} */

@media only screen and (min-width: 1440px){
    header {
        min-height: 900px;
    }
    .banner-img {
      
        margin-right: 0px;
        margin-left: 0px;
    }
    .banner-img img {
        margin-top: 86px;
    }
    footer {

        background-size: 100% 100%;
      
    }
}

/* LG Device :992px. */
@media only screen and (max-width: 1199px) {

    .custom-row {
        margin-top: -30px;
        margin: 0px auto;
        /* padding: 10px; */
        padding-right: 30px;
    }
    .slick-prev {
        left: 4px;
        z-index: 1;
    }
    .slick-next {
        right: 12px;
    }

}

@media only screen and (max-width: 1000px) {
    .slick-active.middle .client-content {
        box-shadow: 0px 10px 10px #e6e6e6;
        padding: 30px 36px;
        margin-top: 0px;
    }
    .slick-prev {
        left: 4px;
        z-index: 1;
    }
    .slick-next {
        right: 12px;
    }
}

 
/* MD Device :768px. */
@media only screen and (max-width: 991.98px) {
 
    .nav-menu {
        width: 100%;
        align-items: start;
    }
    header {
        background-image: url(../img/bg/bg.png);
        height: 650px;
    }
    div#navbarSupportedContent {
        background: #6348b8;
        padding: 20px;
        margin-top: 10px;
    }
    .banner-img {
        display: none;
    }
    .navbar-toggler-icon {
        background: #ffffff;
    }
    div#myTabContent {
        padding-right: 20px;
    }
    .message-content h2 {
        font-size: 36px;
    }
    .price-heading p {
        font-size: 14px;
    }
    .price-heading h2 {
        font-size: 36px;
    }
    .subscribe-content h2 {
        font-size: 36px;
    }
    footer {
        background-image: url(../img/bg/footer.png);
        height: 1000%;
        padding: 100px 0px;
        margin-top: 0px;
    }
    
    .footer-part h3 {
        margin-top: 30px;
    }
}



/* Extra small Device. */
@media only screen and (max-width: 767px) {
    .banner-content {
        text-align: center;
    }
    .banner-content p {
        text-align: center;
    }
    .section-title p {
    
        margin-bottom: -80px;
    }
    .section-title h2 {
        font-size: 36px;
    }
    .feature-item {
        padding-left: 10px;
    }
    .feature-img {
        /* display: none; */
    }
    .feature-img {
    
        margin-top: 50px;
        margin-bottom: 50px;
    }


    section.feature {
        padding: 42px 0px 50px 0px;

    }
    section.message {
        padding: 60px 0px 30px 0px;
    }
    .price-amount-star {
        text-align: left;
        position: relative;
    }
    .price-amount {
        position: absolute;
        top: 34px;
        right: 0px;
        text-align: left;
        left: 31px !important;
    }
    .price-list {
        margin-top: 30px;
    }
    .price-list {
        padding: 0px 60px 50px 60px;
    }
    .price-tab {
        margin-top: 100px;
    }
    .client-heading h2 {
        font-size: 36px;
        margin-bottom: -30px;
    }
    .slick-next {
        right: 15px;
        /* box-shadow: 0px 0px 5px grey; */
    }
    .slick-prev {
        left: 5px;
        z-index: 1;
    }
    .subscribe-content {
        padding-left: 20px;
    }
    .subscribe-img {
        margin-top: 30px;
    }
    .subscribe-content h2 {
        font-size: 36px;
    }
    footer {
        margin-top: 0px;
    }
}

/* SM Small Device :550px. */
@media only screen and (max-width: 576px) {
    .message-content h2 {
        font-size: 36px;
    }
    .message-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .subscribe-form {
        width: 320px;
    }
    .subscribe-form form input {
        width: 200px;
    }
    .subscribe-content h2 {
        font-size: 32px;
    }
    .feature-container {
        padding: 0px 20px;
    }
    .message-content {
        padding-left: 0px;
    }
    section.price {
        padding: 92px 10px 100px 20px;
    }
    .subscribe-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    footer {
        padding: 1px 200px 100px 20px;
    }
    .client-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .message-content {
        padding-left: 20px;
    }
}

/* Mobile Device :480px. */
@media only screen and (max-width: 480px) {
    header {
        height: 550px;
    }
    .section-title p {
  
        text-align: justify;
    }
    .section-title h2 {
        font-size: 30px;
    }
    .client-heading h2 {
        font-size: 32px;
    }
    .message-content h2 {
        font-size: 30px;
    }
    .price-list {
        padding: 0px 10px 50px 30px;
    }
    .price-item-check li span {
    
        font-size: 14px;
 
    }
    .client-heading h2 {
        font-size: 30px;
    }
   
}